.tooling/claim-sapi-app-v172832a6c-05aa-459e-a423-c60713aa8c7e/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/voic/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Initial Logger" doc:id="c5eb1be6-8dcd-4be3-b06c-c126154db444" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	timestamp: (now() &gt;&gt; &quot;IST&quot;) as String {format: &quot;yyyy-MM-dd hh:mm:SS&quot;},&#10;	transactionId: attributes.headers.'x-abc-msgid',&#10;	appName: app.name,&#10;	flowName: flow.name,&#10;	businessProcessName: &quot;HealthCheck&quot;,&#10;	originatingApplication: &quot;External system&quot;,&#10;	destinationApplication: &quot;NA&quot;,&#10;	customerIdentifier: &quot;NA&quot;,&#10;	txnstate: &quot;Start Log&quot;&#10;	&#10;	&#10;}]"/>
		<apikit:router config-ref="api-config" />
        <error-handler ref="global-errorError_Handler">
         
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="get:\health-check:api-config">
		<flow-ref doc:name="Flow Reference initialize-request-data" doc:id="a1b3ea53-4cff-4e5c-8778-2280b2727977" name="initialize-request-data" />
		<logger level="INFO" doc:name="start Logger" doc:id="919cde74-a3c1-42cd-b4f6-973cc9c1aa80" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	timestamp: vars.requestVar.startTime,&#10;	transactionId: vars.requestVar.headers.'x-abc-msgid',&#10;	appName: app.name,&#10;	flowName: flow.name,&#10;	businessProcessName: &quot;HealthCheck&quot;,&#10;	originatingApplication: &quot;External system&quot;,&#10;	destinationApplication: &quot;NA&quot;,&#10;	customerIdentifier: &quot;NA&quot;,&#10;	&#10;	&#10;}]"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	msg: "Success",
	code: 200
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="b7f300c4-0de1-4ace-a2f7-9e2b9ac44ea0" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	timestamp: (now() &gt;&gt; &quot;IST&quot;) as String {format: &quot;yyyy-MM-dd hh:mm:SS&quot;},&#10;	transactionId: vars.requestVar.headers.'x-abc-msgid',&#10;	appName: app.name,&#10;	flowName: flow.name,&#10;	businessProcessName: &quot;HealthCheck&quot;,&#10;	originatingApplication: &quot;External system&quot;,&#10;	destinationApplication: &quot;NA&quot;,&#10;	customerIdentifier: &quot;NA&quot;,&#10;	txnState: &quot;End Log&quot;,&#10;	executionTime: ((now() &gt;&gt; &quot;IST&quot;) as String {format: &quot;yyyy-MM-dd hh:mm:SS&quot;}) - vars.requestVar.startTime&#10;	&#10;	&#10;}]"/>
    </flow>
    <flow name="get:\policies:api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "failed operation",
  code: 400,
  eventId: "weduwedh-wdsah-wdwdds-edd-sqs",
  error: {
    "type": "BAD-REQUEST",
    title: "Invalid Request",
    details: "The input contains invalid data"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
