claim-papi-app-v1/src/main/mule/api.raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="api.raml-main">
        <http:listener path="/api/*" config-ref="api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="api.raml-console">
        <http:listener path="/console/*" config-ref="api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="get:\health-check:api.raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "failed operation",
  code: 400,
  eventId: "weduwedh-wdsah-wdwdds-edd-sqs",
  error: {
    "type": "BAD-REQUEST",
    title: "Invalid Request",
    details: "The input contains invalid data"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-errorError_Handler_flow" />
    </flow>
    <flow name="get:\policies:api.raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "failed operation",
  code: 400,
  eventId: "weduwedh-wdsah-wdwdds-edd-sqs",
  error: {
    "type": "BAD-REQUEST",
    title: "Invalid Request",
    details: "The input contains invalid data"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-errorError_Handler_flow" />
    </flow>
</mule>
